/**
 * Leetcode - ${problem}
 */
package ${pck}.${problem};
import java.util.*;
import ${util}.*;

/** 
 * log instance is defined in Solution interface
 * this is how slf4j will work in this class:
 * =============================================
 *     if (log.isDebugEnabled()) {
 *         log.debug("a + b = {}", sum);
 *     }
 * =============================================
 */
class Solution2 implements Solution {

    ${members}

}
